.bg-out{background: #ddd;}

.bg-out .card{background: transparent;box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;}
.bg-out .card::before,
.bg-out .card::after {
  content: "";
  background-color: #fab570de;
  position: absolute;opacity: .8;
}

.bg-out .card::before {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  top: 30%;
  right: 7%;
}

.bg-out .card::after {
  content: "";
  position: absolute;
  height: 6rem;
  top: 8%;
  right: 5%;
}
.bg-out .asider .card .card-body{  padding: 1rem;
    background: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;}
.bg-out .card-body {-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.checkout--box .checkout--ul li:not(:last-child) {margin-bottom: 1rem;}
.checkout--box .checkout--ul li:last-child {margin-top: 1rem;border-top: 2px dotted #777;padding-top: 0.7rem;}
.checkout--box li p {margin-bottom: 0;color: #000;font-size: .9rem;}
.checkout--box li p span{float: right;}
.checkout--box ul{margin-bottom: 0;padding-left: 0;list-style: none;}
.checkout--box h2{font-size: 1.4rem;font-weight: 600;text-align: center;margin-bottom: 1rem;border-bottom: 1px solid #777;
    padding-bottom: 1rem;color: #000;}
.asider img {width: 14%;padding: 3px;}
.asider .sec {text-align: center;margin-top: 35px;background: #fc8d1d;padding: 10px;border-radius: 6px;}
.asider .sec h5 {margin-bottom: 1rem;color: #000 !important;font-weight: 400;}
