.drop_review.recently_added {padding: 2rem 0;background: #ddd;}
.form-roll {box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;padding: 2rem;border: 1px solid #ddd;
border-radius: 0.6rem;background: #fff;}
.drop_review .rating {display: flex;width: 100%;justify-content: center;overflow: hidden;flex-direction: row-reverse;height: 150px;position: relative;}
.drop_review .rating-0 {filter: grayscale(100%);}
.drop_review .rating>input {display: none;}
.drop_review .rating>label {cursor: pointer;width: 40px;height: 40px;margin-top: auto;background-repeat: no-repeat;background-position: center;transition: .3s;
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
background-size: 76%;}
.drop_review .rating>input:checked~label,
.drop_review .rating>input:checked~label~label {
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
.drop_review .rating>input:not(:checked)~label:hover,
.drop_review .rating>input:not(:checked)~label:hover~label {
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
.drop_review .emoji-wrapper {width: 100%;text-align: center;height: 100px;overflow: hidden;position: absolute;top: 0;left: 0;}
.drop_review .emoji-wrapper:before,
.drop_review .emoji-wrapper:after {content: "";height: 15px;width: 100%;position: absolute;left: 0;z-index: 1;}
.drop_review .emoji-wrapper:before {top: 0;background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);}
.drop_review .emoji-wrapper:after {bottom: 0;background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);}
.drop_review .emoji {display: flex;flex-direction: column;align-items: center;transition: .3s;}
.drop_review .emoji>svg {margin: 15px 0;width: 70px;height: 70px;flex-shrink: 0;}
.drop_review #rating-1:checked~.emoji-wrapper>.emoji {transform: translateY(-100px);}
.drop_review #rating-2:checked~.emoji-wrapper>.emoji {transform: translateY(-200px);}
.drop_review #rating-3:checked~.emoji-wrapper>.emoji {transform: translateY(-300px);}
.drop_review #rating-4:checked~.emoji-wrapper>.emoji {transform: translateY(-400px);}
.drop_review #rating-5:checked~.emoji-wrapper>.emoji {transform: translateY(-500px);}
.drop_review .feedback {max-width: 360px;width: 100%;padding: 30px;border-radius: 8px;display: flex;flex-direction: column;
flex-wrap: wrap;align-items: center;margin: 0 auto 0rem;}
.drop_review .review_form .form-group {width: 100%;text-align: left;margin-bottom: .6rem;}
.drop_review .review_form .form-group label{margin-bottom: .5rem;display: block;width: 100%;font-weight: 600;font-size: .8rem;color: #000}
.drop_review .review_form textarea{height: 60px !important;}
.drop_review .review_form .form-control:focus{box-shadow: none;border-color: #fc8d1d;}
.drop_review .review_form .form-control {margin-bottom: 0;border: none;border-radius: 6px;border: 1px solid #ddd;height: 40px;
padding: .375rem .75rem;display: block;font-size: .9rem;line-height: 1.5;color: #495057;background-color: #fff;}
.drop_review .form-roll .heading {margin-bottom: 0;}
.drop_review .form-roll .heading .ttl {color: #fc8d1d;font-weight: 600;font-size: 1.6rem;}
.drop_review .form-roll .heading p {margin-top: 0.6rem;font-size: 1.1rem;color: #787878;}
.drop_review .btn{background: var(--bgcolor);}
.drop_review .review_form .form-ttl {text-align: center;margin-bottom: .6rem;font-weight: 600;color: #000;}